<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>MaskID</string>
	<key>RevenueCatAPIKey</key>
	<string>appl_cJuegsqbihOvDkhDESnUPrekHTJ</string>
	<key>RevenueCatEntitlementIdentifier</key>
	<string>MaskID Pro</string>
	<key>ShieldAppStoreID</key>
	<string>6790398619</string>
	<key>ShieldGoogleDriveClientID</key>
	<string>1024191437701-444puuv8d822q0k8ldefbjpmq2a6lupf.apps.googleusercontent.com</string>
	<key>ShieldGoogleDriveRedirectURI</key>
	<string>com.googleusercontent.apps.1024191437701-444puuv8d822q0k8ldefbjpmq2a6lupf:/oauth2redirect</string>
	<key>ShieldGoogleDriveCallbackScheme</key>
	<string>com.googleusercontent.apps.1024191437701-444puuv8d822q0k8ldefbjpmq2a6lupf</string>
	<key>ShieldDropboxAppKey</key>
	<string>eelqq7zaevpxt9w</string>
	<key>ShieldDropboxRedirectURI</key>
	<string>db-eelqq7zaevpxt9w://2/token</string>
	<key>ShieldDropboxCallbackScheme</key>
	<string>db-eelqq7zaevpxt9w</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.romerodev.shield</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>shield</string>
				<string>com.googleusercontent.apps.1024191437701-444puuv8d822q0k8ldefbjpmq2a6lupf</string>
				<string>db-eelqq7zaevpxt9w</string>
			</array>
		</dict>
	</array>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>MaskIDBlue</string>
				<string>MaskIDBlue60x60@2x.png</string>
				<string>MaskIDBlue60x60@3x.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>MaskIDGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDGold</string>
					<string>MaskIDGold60x60@2x.png</string>
					<string>MaskIDGold60x60@3x.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDGreen</string>
					<string>MaskIDGreen60x60@2x.png</string>
					<string>MaskIDGreen60x60@3x.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDOcean</string>
					<string>MaskIDOcean60x60@2x.png</string>
					<string>MaskIDOcean60x60@3x.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDPurple</string>
					<string>MaskIDPurple60x60@2x.png</string>
					<string>MaskIDPurple60x60@3x.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDRed</string>
					<string>MaskIDRed60x60@2x.png</string>
					<string>MaskIDRed60x60@3x.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>MaskIDBlue</string>
				<string>MaskIDBlue76x76@2x~ipad.png</string>
				<string>MaskIDBlue83.5x83.5@2x~ipad.png</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>MaskIDGold</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDGold</string>
					<string>MaskIDGold76x76@2x~ipad.png</string>
					<string>MaskIDGold83.5x83.5@2x~ipad.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDGreen</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDGreen</string>
					<string>MaskIDGreen76x76@2x~ipad.png</string>
					<string>MaskIDGreen83.5x83.5@2x~ipad.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDOcean</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDOcean</string>
					<string>MaskIDOcean76x76@2x~ipad.png</string>
					<string>MaskIDOcean83.5x83.5@2x~ipad.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDPurple</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDPurple</string>
					<string>MaskIDPurple76x76@2x~ipad.png</string>
					<string>MaskIDPurple83.5x83.5@2x~ipad.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>MaskIDRed</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>MaskIDRed</string>
					<string>MaskIDRed76x76@2x~ipad.png</string>
					<string>MaskIDRed83.5x83.5@2x~ipad.png</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
